@font-face {
  font-family: 'Halter';
  src: url('HALTER__.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

/* =========================
   CONTAINER
========================= */

.login-box {
  width: 95%;
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

/* =========================
   BOTÕES
========================= */

button,
.app-btn {
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #0f172a;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

button:hover,
.app-btn:hover {
  transform: scale(1.03);
  background: #1e293b;
}

button:active,
.app-btn:active {
  transform: scale(0.98);
}

/* BOTÃO SAIR */

button.sair {
  background: #ef4444 !important;
}

button.sair:hover {
  background: #dc2626 !important;
}

/* =========================
   CARTÃO
========================= */

.cartao-area {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#cartao {
  width: 100%;
  height: auto;
  display: block;
}

/* =========================
   CAMPOS SOBRE O CARTÃO
========================= */

.campo {
  position: absolute;
  color: #000;
  z-index: 999;
  font-family: 'Halter';
  letter-spacing: -0.7px;
}

/* NOME */
.nome {
  position: absolute;
  top: 20%;
  left: 75%;
  transform: translateX(-50%);
  width: 45%;
  text-align: center;
  font-size: 0.4rem;
}

.data {
  position: absolute;
  top: 27%;
  left: 70%;
  transform: translateX(-50%);
  font-size: 0.3rem;
}

.sexo {
  position: absolute;
  top: 27%;
  left: 80%;
  transform: translateX(-50%);
  font-size: 0.3rem;
}

.cns {
  position: absolute;
  top: 40%;
  left: 58%;
  transform: translateX(-50%);
  font-size: 0.65rem;
}

.cpf {
  position: absolute;
  top: 55%;
  left: 58%;
  transform: translateX(-50%);
  font-size: 0.7rem;
}

/* =========================
   INPUTS
========================= */

input,
select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

label {
  font-weight: bold;
  display: block;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

  .login-box {
    width: 95%;
  }

}
